.single-product {
  .product-info {
    background: #fff;
    border-radius: 10px;
    padding-bottom: 0px;
  }
  .product-footer {
    background: #fff;
    border-radius: 10px;
    margin-top: 30px;
    padding: 15px;
  }

  .related-products-wrapper,
  .viewed-products {
    padding: 15px;
    background: #fff;
    border-radius: 10px;
  }
  .products-orther {
    .col-inner {
      padding: 15px;
      margin-left: auto;
      margin-right: auto;
      background: #fff;
      border-radius: 10px;
      margin-bottom: 30px;
    }
  }
}
.related-posts {
  margin-top: 30px;
}
